* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    justify-content: center;
    align-items: center;
}

.form-label {
    color: white;
}

.container{
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 14px 13px 42px -6px rgba(247,54,54,1);
}

form {
    display: flex;
    flex-direction: column;
}

#message {
    height: 25vh;
    left: 0;
}